<div class="wrapper_with_padding">
	<h2>Sign up</h2>

	<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
	  <%= f.error_notification %>

	  <div class="form-inputs">
	    <%= f.input :email, autofocus: true %>
	    <%= f.input :password, hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
	    <%= f.input :password_confirmation %>
	  </div>

	  <div class="form-actions">
	    <%= f.button :submit, "Sign up", class: "button" %>
	  </div>
	<% end %>

</div>
