#banner
	.banner_content
		%h1 NoteNote
		%p Your online notebook. Never forget an idea again.
		%button= link_to "Sign Up", new_user_registration_path

#testimonial
	.wrapper
		%p.quote "The greatest notebook application. Period."
		%p.name - Mackenzie Child

#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Remember Everything
				%p Organize your work and declutter your life. Collect everything that matters in one place and find it when you need it, fast.
			.callout
				%h2 Work Smarter
				%p Enhance your notes with links, checklists, tables, attachments, and audio recordings. Even handwritten notes are searchable.
			.callout
				%h2 Bring It All Together
				%p Organized teams get more done. From initial brainstorm to finished project, make Evernote your team hub and find productivity bliss.

#bottom_cta
	.wrapper
		%h2 Create your free account
		%p Your best ideas are always with you and always in sync.
		%button= link_to "Sign up for free", new_user_registration_path

%footer
	%p &copy; Mackenzie Child
