<div class="wrapper_with_padding">

  <h2>Sign in</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email, autofocus: true %>
      <%= f.input :password %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in", class: "button" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
