!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Notenote App
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      .header_inner
        = link_to image_tag('logo.svg'), root_path, id: "logo"
        %nav
          - if user_signed_in?
            = link_to "New note", new_note_path
            = link_to "Sign Out",destroy_user_session_path, method: :delete
          - else
            = link_to "Sign Up", new_user_registration_path
            = link_to "Sign In", new_user_session_path
    %p.notice= notice
    %p.alert= alert
    = yield
